= simple_form_for @rails_gem do |f|
  - unless f.object.tags_array.empty?
    %div
      %label Remove tags
    %p
      - f.object.tags_array.each do |t|
        = check_box_tag 'rails_gem[subtractional_tags][]', t, false, :id => "rails_gem_remove_tag_#{t}"
        = label_tag "rails_gem_remove_tag_#{t}", t
        %br
  
  = f.input :additional_tags, :label => 'Add tags', :input_html => {:size => 30}
  = f.button :submit