%h3 Gems

= simple_form_for @search do |f|
  = label_tag 'search_tags_contains', 'Tags'
  = f.input :tags_contains, :label => false, :input_html => {:size => 20}
  %button{:type => 'submit'} Search

.gems
  - unless @results.empty?
    %table
      %thead
        %tr
          %th Gem
          %th.tags Tags
      %tbody
        - @results.each do |rg|
          %tr.rails_gem{:class => cycle(:even, :odd)}
            %td= link_to rg.name, rails_gem_path(rg)
            %td.tags
              - rg.tags.each do |t|
                = link_to t, rails_gems_path(:search => {:tags_contains => t}), :class => 'tag'
  - else
    %p
      %em None found.