.rails_gem
  .rubygems_link= link_to 'View at RubyGems.org', @rails_gem.rubygem_url
  
  %h2.title
    = @rails_gem.name
    %span.version
      = @rails_gem.version
    
  .clear
  
  .tags
    .edit
      = link_to 'add/remove tags', edit_rails_gem_tags_path(@rails_gem)
    .list
      - unless @rails_gem.tags_array.empty?
        - @rails_gem.tags_array.each do |t|
          = link_to t, rails_gems_path(:search => {:tags_contains => t}), :class => 'tag'
    .clear
  
  %p= @rails_gem.description