.rails_gem
  .rubygems_link= link_to 'View at RubyGems.org', @rails_gem.rubygem_url
  
  %h2.title
    = @rails_gem.name
    %span.version
      = @rails_gem.version
    
  .clear
  
  .tags
    .edit
      = link_to 'edit tags', edit_rails_gem_tags_path(@rails_gem)
    .list
      - unless @rails_gem.tags_array.empty?
        - @rails_gem.tags_array.each do |t|
          %span.tag= t
  
  %p= @rails_gem.description