!!!
%html
  %head
    %title Railsgems
    = csrf_meta_tag
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    %link{:rel => "icon", :href => "/favicon.ico", :type => "image/x-icon"}
    = stylesheet_link_tag "screen"
    = javascript_include_tag "application"
    = javascript_include_tag "analytics" if Rails.env.production?
  %body
    #header
      #donate
        %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => 'post'}
          %input{:type => 'hidden', :name => 'cmd', :value => '_s-xclick'}
          %input{:type => 'hidden', :name => 'hosted_button_id', :value => 'CJ32MTTTULC44'}
          %input{:type => 'image', :src => 'https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif', :border => '0', :name => 'submit', :alt => 'PayPal - The safer, easier way to pay online!'}
          %img{:alt => '', :border => '0', :src => 'https://www.paypal.com/en_US/i/scr/pixel.gif', :width => '1', :height => '1'}
      %h1
        %span RailsGems: Gems related to the Rails framework
    #menu
      %ul
        %li= link_to 'Add a gem', root_path
        %li= link_to 'Find a gem', rails_gems_path
        %li= link_to 'About this site', about_path
      .clear
    #content
      .inner
        - if flash.notice
          %p.notice= flash.notice
        - if flash[:error]
          %p.error= flash[:error]
        = yield
    #footer
      Built by
      = link_to "Austin Schneider", "http://austinschneider.com"
      using
      = succeed "." do
        = link_to "Ruby on Rails", "http://rubyonrails.org"
        
    = javascript_include_tag "feedback" if Rails.env.production?